@{
    ViewBag.Title = "Editor/UEditor";
    var F = Html.F();
}


@section body {

    @(F.SimpleForm().IsFluid(true).CssClass("blockpanel").ID("SimpleForm1").BodyPadding(10).LabelAlign(LabelAlign.Top).Title("表单")
        .Items(
            F.HtmlEditor().Label("文本编辑器").ID("HtmlEditor1").Editor(Editor.UEditor)
                .BasePath(Url.Content("~/res/third-party/ueditor/")).ToolbarSet(EditorToolbarSet.Full).Height(350).Readonly(true).Text("<p>FineUIPro<br>基于 jQuery 的专业 ASP.NET 控件库。<br><br>FineUI的使命<br>创建 No JavaScript，No CSS，No UpdatePanel，No ViewState，No WebServices 的网站应用程序。<br><br>支持的浏览器<br>Chrome、Firefox、Safari、IE 8.0+<br><br>相关链接<br>首页：http://fineui.com/pro/<br>示例：http://pro.fineui.com/<br>更新：http://fineui.com/version_pro/</p>")
        )
    )
    <br>

    @(F.Button().ID("Button2").CssClass("marginr").Text("设置编辑器的值").OnClick(Url.Action("Button2_Click")))

    @(F.Button().ID("Button1").Text("获取编辑器的值").OnClick(Url.Action("Button1_Click"),
            new Parameter("text", "F.htmlEncode(F.ui.HtmlEditor1.getValue())"))
    )
    <br>
    <br>

    @(F.Button().ID("Button3").CssClass("marginr").Text("设置编辑器只读").Listener("click", "F.ui.HtmlEditor1.setReadonly(true);"))

    @(F.Button().ID("Button4").Text("取消编辑器只读").Listener("click", "F.ui.HtmlEditor1.setReadonly(false);"))
    <br>
    <br>
    注：
    <ul>
        <li>默认编辑器处于只读状态。</li>
        <li>本示例不支持文件上传，请根据UEditor官网文档自行配置。</li>
    </ul>


}

