@{
    ViewBag.Title = "Window/FixedPosition";
    var F = Html.F();
}

@section head {

    <style>
    body {
        background: url(@Url.Content("~/res/images/bg/small/3.jpg")) !important;
    }
    </style>


}

@section body {


    <div style="height: 1200px;">
    </div>


    @(F.Window().ShowHeader(false).BodyPadding(10).AutoScroll(true).IsModal(false).FixedPosition(true).PositionY(Position.Top).PositionX(Position.Left).Height(80).Width(200).ID("Window1").Content("FixedPosition=true PositionX=Left PositionY=Top"))


    @(F.Window().ShowHeader(false).BodyPadding(10).AutoScroll(true).IsModal(false).FixedPosition(true).PositionY(Position.Center).PositionX(Position.Left).Height(80).Width(200).ID("Window2").Content("FixedPosition=true PositionX=Left PositionY=Center"))


    @(F.Window().ShowHeader(false).BodyPadding(10).AutoScroll(true).IsModal(false).FixedPosition(true).PositionY(Position.Bottom).PositionX(Position.Left).Height(80).Width(200).ID("Window3").Content("FixedPosition=true PositionX=Left PositionY=Bottom"))



    @(F.Window().ShowHeader(false).BodyPadding(10).AutoScroll(true).IsModal(false).FixedPosition(true).PositionY(Position.Top).PositionX(Position.Center).Height(80).Width(200).ID("Window4").Content("FixedPosition=true PositionX=Center PositionY=Top"))


    @(F.Window().ShowHeader(false).BodyPadding(10).AutoScroll(true).IsModal(false).FixedPosition(true).PositionY(Position.Center).PositionX(Position.Center).Height(80).Width(200).ID("Window5").Content("FixedPosition=true PositionX=Center PositionY=Center"))


    @(F.Window().ShowHeader(false).BodyPadding(10).AutoScroll(true).IsModal(false).FixedPosition(true).PositionY(Position.Bottom).PositionX(Position.Center).Height(80).Width(200).ID("Window6").Content("FixedPosition=true PositionX=Center PositionY=Bottom"))


    @(F.Window().ShowHeader(false).BodyPadding(10).AutoScroll(true).IsModal(false).FixedPosition(true).PositionY(Position.Top).PositionX(Position.Right).Height(80).Width(200).ID("Window7").Content("FixedPosition=true PositionX=Right PositionY=Top"))


    @(F.Window().ShowHeader(false).BodyPadding(10).AutoScroll(true).IsModal(false).FixedPosition(true).PositionY(Position.Center).PositionX(Position.Right).Height(80).Width(200).ID("Window8").Content("FixedPosition=true PositionX=Right PositionY=Center"))


    @(F.Window().ShowHeader(false).BodyPadding(10).AutoScroll(true).IsModal(false).FixedPosition(true).PositionY(Position.Bottom).PositionX(Position.Right).Height(80).Width(200).ID("Window9").Content("FixedPosition=true PositionX=Right PositionY=Bottom"))


    <br>

}

