@{
    ViewBag.Title = "Window/Maximized";
    var F = Html.F();
}


@section body {

    <div id="content1">
        <p>
            <a href="http://tech.163.com/special/jobsdead/" style="font-size: 18px" target="_blank"><b>乔布斯</b></a>
        </p>
        <p>
            乔布斯于1955年2月24日出生，苹果创始人之一。今年8月苹果超越埃克森美孚成为全球最大市值企业，截止上季度持有现金达到762亿美金，甚至超过了美国政府国库存款。
        </p>
        <p>
            遗憾的是，苹果的取得巨大成功还是无法给乔布斯一个健康的身体，乔布斯2003年被发现患有胰脏癌，随后又查出肝癌，危在旦夕的乔布斯在经历了8年的抗癌斗争、3次病休、若干次手术后，于2011年8月25日正式宣布从CEO位置辞职。2011年10月6日，乔布斯在苹果发布iPhone 4S后的第二天与世长辞。
        </p>
    </div>

    @(F.Button().Text("显示窗体（设置最大化）").ID("btnShowWindowMax").Listener("click", "F.ui.Window1.show();F.ui.Window1.maximize();"))
    <br>
    <br>

    @(F.Button().Text("显示窗体（设置大小为 900px * 450px）").ID("btnShowWindow900").Listener("click", "F.ui.Window1.show(900,450);"))
    <br>
    <br>

    @(F.Button().Text("显示窗体（高度占满整个页面）").ID("btnShowWindowLargeHeight")
        // 设置一个非常大的高度，这样无论外部页面的高度如何，弹出窗体的高度会占满整个页面（初始）.Listener("click", "F.ui.Window1.show(900,10000);") 
    )
    <br>
    <br>

    @(F.Button().Text("显示窗体（使用初始值）").ID("btnShowWindow").Listener("click", "F.ui.Window1.show();"))
    <br>
    <br>

    @(F.Button().Text("关闭窗体").ID("btnCloseWindow").Listener("click", "F.ui.Window1.hide();"))
    <br>
    <br>
    <br>

    @(F.Window().Maximized(true).EnableMaximize(true).BodyPadding(10).AutoScroll(true).IsModal(false).EnableResize(true).Title("窗体").Icon(Icon.TagBlue).Height(300).Width(650).ID("Window1").ContentEl("#content1"))
    <br>


}

